body {
  background-color: #abb7c8;
  margin: 0;
}

.sidebar {
  border: 1px solid red;
  width: 18%;
  height: 100vh;
  /* float: left; */
}

.navLink {
  padding-bottom: px;
  background-color: red;
}

.introbubble {
  background-color: #5c7598;
  width: 30%;
  padding: 25px;
  margin: 15px auto;
  border-radius: 10px
}

.introbubble img {
  width: 100%
}

.introbubble h3 {
  color: #dadadb;
}

.column {
  display: flex;
  flex-direction: row;
}
